// MY THEME COLORS 
$purple-dark:  #e6ecfc;
$purple-light:  #e6daf7;
$pink:    #f3e0e5;
$footer: #151414;



$primary:       $purple-dark;
$secondary:     $pink;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

